<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RoMoRDuP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RoMoRDuP.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>0.57</value>
            </setting>
            <setting name="MirrorSourceFolder" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="MirrorTargetFolder" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="MirrorProcessMax" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MirrorProcessMaxType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MirrorFileFilterbIncludeOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MirrorFileFilterInclude" serializeAs="String">
                <value>everything</value>
            </setting>
            <setting name="MirrorFileFilterExclude" serializeAs="String">
                <value>*[RoMoRDuP_Ignore]*</value>
            </setting>
            <setting name="MirrorFileFilterPlaylistbIncludeOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MirrorFileFilterPlaylistInclude" serializeAs="String">
                <value>*.m3u, *.wpl, *.kpl</value>
            </setting>
            <setting name="MirrorFileFilterPlaylistExclude" serializeAs="String">
                <value>*[RoMoRDuP_Ignore]*</value>
            </setting>
            <setting name="MirrorbUpdatePlaylists" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MirrorbUseSameFolderPathsPlaylists" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MirrorDuplicatesWithDiffFilenames" serializeAs="String">
                <value>RenameSyncDir</value>
            </setting>
            <setting name="MirrorUpdatedFiles" serializeAs="String">
                <value>MostRecentDate</value>
            </setting>
            <setting name="MirrorMoveTo" serializeAs="String">
                <value>SyncDir</value>
            </setting>
            <setting name="MirrorMoveChangeFilename" serializeAs="String">
                <value>SyncDir</value>
            </setting>
            <setting name="MirrorbCopyMissingSouceTarget" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MirrorbCopyMissingTargetSource" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MirrorbDeleteTarget" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MirrorbDeleteSource" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MirrorModeSelectSource" serializeAs="String">
                <value>Easy</value>
            </setting>
            <setting name="MirrorModeUserOptions" serializeAs="String">
                <value>Easy</value>
            </setting>
            <setting name="MirrorUserOptionsEasy" serializeAs="String">
                <value>SyncOneWayLeave</value>
            </setting>
            <setting name="RDSourceFolder" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="RDProcessMax" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="RDProcessMaxType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RDFileFilterbIncludeOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RDFileFilterInclude" serializeAs="String">
                <value>everything</value>
            </setting>
            <setting name="RDFileFilterExclude" serializeAs="String">
                <value>*[RoMoRDuP_Ignore]*, *.lnk, *.jpg, *.jpeg, *.png, *.bmp, *.gif, *.ico"</value>
            </setting>
            <setting name="RDFileFilterPlaylistbIncludeOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RDFileFilterPlaylistInclude" serializeAs="String">
                <value>*.m3u, *.wpl, *.kpl</value>
            </setting>
            <setting name="RDFileFilterPlaylistExclude" serializeAs="String">
                <value>*[RoMoRDuP_Ignore]*</value>
            </setting>
            <setting name="RDbUpdatePlaylists" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RDbUseSameFolderPathsPlaylists" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RDModeSelectSource" serializeAs="String">
                <value>Easy</value>
            </setting>
            <setting name="MirrorSyncAttributes" serializeAs="String">
                <value>True</value>
            </setting>
        </RoMoRDuP.Properties.Settings>
    </userSettings>
</configuration>